body {
    margin: 0; padding: 0;
    background-color: #f5faff;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .register-container {
    margin: auto;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 350px;
  }

  h1 {
    color: #1d4f91;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  .btn-submit {
    background-color: #1d4f91;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 14px 24px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }

  .btn-submit:hover {
    background-color: #153869;
  }

  .errorlist {
    color: red;
    list-style-type: none;
    padding-left: 0;
  }
