{% extends "squelette.html" %}

{% block title %}
Créer un groupe
{% endblock %}

{% block sectionContenu %}
<div class="conteneur-formulaire">
    <h1>Créer un groupe</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="nom-groupe">Nom du groupe</label>
        <input type="text" id="nom-groupe" name="group_name" placeholder="Nom du groupe" required>

        <label for="description-groupe">Description du groupe</label>
        <textarea id="description-groupe" name="description" placeholder="Description du groupe (facultatif)" rows="4"></textarea>
        
        <div class="form-buttons">
            <button type="submit" class="button-create">Créer</button>
            <button type="button" class="button-cancel" onclick="window.location.href='/chatroom/'">Annuler</button>
        </div>
        
    </form>
</div>
{% endblock %}
